/* styles.css */

/* Stili Globali */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #f4f6f8;
    color: #333;
}

/* Stile per le card dei timer */
.timer-card {
    border: none;
}

.timer-card .card-title {
    font-weight: bold;
}

.timer-card .timer-display {
    font-size: 1.5rem;
    font-weight: bold;
}

.timer-card .btn-group .btn {
    flex: 1;
}

.timer-card .btn-group .btn+.btn {
    margin-left: 5px;
}

.timer-card .btn-link {
    color: #007bff;
}

.timer-card .btn-link:hover {
    text-decoration: underline;
}

.timer-card .badge {
    font-size: 0.9rem;
}

/* Posizionamento dell'icona di spunta verde */
.card.position-relative {
    position: relative;
}

.checkmark-icon {
    position: absolute;
    top: 10px;
    right: 10px;
}

.client-header {
    font-size: 1.5rem;
    font-weight: bold;
}

.month-header {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 1rem;
}

/* Assicura che il checkbox sia delle dimensioni corrette */
.timer-checkbox {
    width: 1.2em;
    height: 1.2em;
}

/* Rimuove il bordo di default se necessario */
.timer-checkbox:focus {
    box-shadow: none;
}

.custom-container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

/* Stili per le tab del Cestino */
#recycle-bin-section .nav-tabs .nav-link {
    color: #495057;
    font-weight: bold;
}

#recycle-bin-section .nav-tabs .nav-link.active {
    color: #fff;
    background-color: #007bff;
}

#recycle-bin-section .tab-content {
    border: 1px solid #dee2e6;
    border-top: none;
    padding: 20px;
    background-color: #f8f9fa;
}

/* Stili per le card dei timer e report eliminati */
.recycle-card {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #fff;
}

.recycle-card-header {
    background-color: #e9ecef;
    padding: 10px 15px;
    font-weight: bold;
}

.recycle-card-body {
    padding: 15px;
}

/* Pulsanti azione */
.action-buttons .btn {
    margin-right: 5px;
}

/* Stili per le icone */
.recycle-card-header i {
    margin-right: 10px;
}

.table-warning {
    background-color: #fff3cd;
}

canvas#worktypeDistributionChart {
    width: 500px;
    height: auto;
    margin: 0 auto;
}

.chartjs-legend ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; /* permette di andare a capo */
}

.chartjs-legend li {
    margin-right: 15px;
    margin-bottom: 5px;
    max-width: 120px; /* larghezza massima per ogni voce */
}

.chartjs-legend li span {
    display: inline-block;
    white-space: normal; /* testo su più linee se necessario */
    word-wrap: break-word;
}
